<!-- <ion-header>
    <ion-toolbar>
      <ion-title>Tu Décides. </ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>
      <div id="marlboroLogo"><img src="../assets/images/marlboroLogo.png" alt="" /></div>
      <div class="ctrBox">
          <div class="introTxt">
    
          <div class="contBtns_inline">
             <div class="largeBtn">
               <label>JE N’AI PAS DE COMPTE</label>
               <a href="#" title="" (click)="clickedCompte(1)">M’ENREGISTRER</a>
             </div>

             <div class="largeBtn">
                <label>J’AI UN COMPTE</label>
                <a href="#" title="" (click)="clickedCompte(2)">M’IDENTIFIER</a>
              </div>
              
              <div class="largeBtn">
                  <label>Je ne participe pas à la tombola</label>
                  <a href="#" title="" (click)="clickedCompte(3)">Sans enregistrement</a>
              </div>

          </div>    
    
          </div>
        
      </div>
      <div id="decideGraphic" class="bottom"><img src="../assets/images/decide_graphic.png" alt=""/></div>
    </ion-content>
    
    
    <ion-footer class="txtCenter">
      <ion-toolbar>
        <ion-title>Fumer tue</ion-title>
      </ion-toolbar>
    </ion-footer>
    
    