
<!-- <ion-header>
    <ion-toolbar>
      <ion-title>Tu Décides. </ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>
      <div id="marlboroLogo"><img src="../assets/images/marlboroLogo.png" alt="" /></div>
      <div class="ctrBox">

        <div id="paquet">
          <img src="../assets/images/paquet.png" alt="" />
          <div id="question">
              {{question}}                         
          </div>
          <div id="answer" (click)="showAnswer()">
            <div id="interactUser"><span>{{answers}}</span></div>
          </div>
        </div>
        
      </div>
      <div id="decideGraphic" class="bottom"><img src="../assets/images/decide_graphic.png" alt=""/></div>
    </ion-content>
    
    
    <ion-footer class="txtCenter">
      <ion-toolbar>
        <ion-title>Fumer tue</ion-title>
      </ion-toolbar>
    </ion-footer>
    
    








<!-- <ion-header>
    <ion-toolbar>
      <ion-title>Tu Décides. </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-button (click)="Compte()" expand="full" color="primary">Register</ion-button>
  </ion-content>

<ion-footer>
    <ion-toolbar>
      <ion-title>Fumer tue</ion-title>
    </ion-toolbar>
  </ion-footer> -->