<!-- <ion-header>
    <ion-toolbar>
      <ion-title>Tu Décides. </ion-title>
    </ion-toolbar>
  </ion-header> -->

  <ion-content>

      <div id="decideGraphic"><img src="../assets/images/decide_graphic.png" alt=""/></div>
      <div class="ctrBox">
        <div class="contBtns">
        <div class="btn_gradient"><a href="" (click)="clickedStart()" >Qu’est-ce qui fait une légende ?</a></div>
        </div>
        <div id="warriorVisual">
          <img src="../assets/images/warrior.png" alt="" />
        </div>
      </div>

    </ion-content>
    
    
    <ion-footer class="txtCenter">
      <ion-toolbar>
        <ion-title>Fumer tue</ion-title>
      </ion-toolbar>
    </ion-footer>