<!-- <ion-header>
    <ion-toolbar>
      <ion-title>Tu Décides. </ion-title>
    </ion-toolbar>
  </ion-header> -->

<ion-content>
  <div id="marlboroLogo"><img src="../assets/images/marlboroLogo.png" alt="" /></div>
  <div class="ctrBox">
      <div class="introTxt">

          Es-tu <span class="redColor">prêt</span> à découvrir <br>
          pourquoi <span class="redColor">Marlboro</span> <br>
          est la <span class="redColor">légende</span> de la saveur ? 

      <div class="contBtns_inline">
         <div class="btnMe"><a href="#" title="" (click)="clickedPlay()">Start</a></div>
      </div>    
      </div>
    
  </div>
  <div id="decideGraphic" class="bottom"><img src="../assets/images/decide_graphic.png" alt=""/></div>
</ion-content>


<ion-footer class="txtCenter">
  <ion-toolbar>
    <ion-title>Fumer tue</ion-title>
  </ion-toolbar>
</ion-footer>

